
.app-name:link{
  text-decoration: none;
  color: white;
}
.app-name:visited{
  text-decoration: none;
  color: white;
}
.app-name:hover{
  text-decoration: none;
  color: white;
}
.app-name:active{
  text-decoration: none;
  color: white;
}

.app-name{
  background-color: black;
  font-size: 8pt;
  letter-spacing: 2px;
  padding-left: 25px ;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 0px;

}

#navbar{
  display: flex;
  flex-direction: row;
  background-color: rgb(193, 226, 226);
  width: 100%;
}
.logged-in-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  margin-left: auto;
  margin-right: 1%;
  justify-content: right;
  margin-top: 0pt;
}

.buttons{
  margin-left: auto;
}

.user-icon{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-nav{
  margin-right: 8px;
}

.login-button{
  font-size: 15px;
}
.posts{
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.post{
  border-bottom: solid;
  border-width: 0.5px;

}

.post-topic:link{
  text-decoration: none;
  color: black;
}
.post-topic:visited{
  text-decoration: none;
  color: black;
}
.post-topic:hover{
  text-decoration: none;
  color: black;
}
.post-topic:active{
  text-decoration: none;
  color: black;
}

.post-topic{
  float: right;
  position: relative;
  margin-right: 5px;
}

li{
  margin-top: 200px;
  /* display: flex; */
  display: inline;
  margin-right: 8px;
  word-wrap: break-word;
}

img{
  margin-right: 10px;
}

.img-and-topics{
  display: flex;
  align-items:  flex-end;
  max-width: 500px;
}

.likes{
  display: flex;
  flex-direction: row;
}

.like-button{
  background-color: transparent;
  border: transparent;
  font-size: 15px;
}

.liked-button{
  background-color: transparent;
  border: transparent;
  color: rgb(48, 136, 143);
  font-size: 15px;
}

.delete-button{
  margin-left: auto;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
}

.home{
  margin: right auto;
  display: flex;
  flex-direction: row;
}

.topics{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-top: 20px;
  align-items: center;
}

.topic-button{
  text-align: center;
  background-color: #242929;
  padding: 10px;
  color: white;
  border-radius: 3px;
  margin: 5px;
  width: 60px;
  padding-right: 15px;
}

a.topic-button{
  text-align: center;
}

.topic-button:link{
  text-decoration: none;
  color: white;
}
.topic-button:visited{
  text-decoration: none;
  color: white;
}
.topic-button:hover{
  text-decoration: none;
  color: white;
}
.topic-button:active{
  text-decoration: none;
  color: white;
}

.user-name{
  margin-bottom: -20px;
}

.body-and-topics{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.comments{
  border-top: solid;
  border-color: rgb(197, 197, 197);
  border-width: 0.5px;
}

body{
  background-color: rgba(221, 221, 221, 0.377);
}

.comment{
  display: flex;

  background-image: linear-gradient(#d8d8d82c, #fcfcfc0c);
}

.comment-user{
  margin-right: 5px;
}

.addComment{
  width:450px;
  height: 80%;
  border-radius: 0px;
  border-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow-wrap: break-word;
}

.new-comment-form{
  display: flex;
  flex-direction: row;
}

.create{
  float: right;
}

.count{
  float: right;
}

.add-comment-button{
  text-align: center;
}

.delete-comment{
  margin-left: auto;
  background-color: transparent;
  border: transparent;
  font-size: 20px;
}

.delete-comment:hover{
  cursor: pointer;
  animation:  shake 0.8s  ;
}

@keyframes shake{
  0%{ 
    transform: scale(110%); 
    transform: translateX(0)
  }
  25%{
    transform: translateX(5px);
  }
    
  50%{
    transform: translateX(-5px);
  }
  100%{
    transform: translateX(0px);
  }
}

.post-thing{
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(193, 226, 226);
  padding: 40px;
  border-radius: 50px;
}
.post-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.body-input {
  border: 1px transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 15px 12px;
  outline: none;
  height: 200px;
  width: 100%px;
  max-width: 1000px;
  max-height: 500px;
}

.post-button{
  width: fit-content;
  margin-left: auto;
  border: transparent ;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
}

.post-button:enabled{
  background-color: rgb(255, 255, 255);
  color: 30, 0, 71;
  cursor: pointer;
}

.overlay{
  background-color: black;
}

.authForm{
  display: table;
}

.login-form{
  background-color: rgb(193, 226, 226);
  width: 400px;
  height: 400px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  left: 50%;
  top:  50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.title-input{
  border: transparent;
  height: 25px;
  width: 100%;
}

.image-input{
  border: transparent;
  height: 25px;
  background-color: rgba(250, 250, 250, 0.712);
  width: 100%;
}

.downvote{
  background-color: transparent;
  border: transparent;
  font-size: 15px;
}

.downvoted{
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    color: tomato;
}

a{
  text-decoration: none;
}

a:visited{
  color: black;
}

.post-title{
  overflow-wrap: break-word;
}

.img-and-name{
  display: flex;
  flex-direction: row;
  align-content: center;
}

.post-user-img{
  margin-top: 18px;
  border-radius: 40px;
}

.posts{
  background-color: rgba(146, 146, 146, 0.11);
  padding: 10px;
}

.home{
  background-color: rgba(211, 211, 211, 0.425);
}

.add-topic-button{
  border-color: transparent;
  background-color: white;
  padding: 5px;
  margin: 4px;
  border-radius: 15px;
}

.topic-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}
